In [26]:
import numpy as np
import pandas as pd
import random

In [27]:
random = [random.randint(0, 1000) for _ in range(5)]

In [28]:
df = pd.DataFrame(columns = ['國家','人口數'])

In [29]:
df

Empty DataFrame
Columns: [國家, 人口數]
Index: []

In [30]:
df['國家'] = ['taiwan','japan','korea','china','usa']

In [31]:
df['人口數'] = random

In [32]:
df

       國家  人口數
0  taiwan  255
1   japan   77
2   korea  667
3   china   20
4     usa  953